.ReactModal__Overlay {
  opacity: 0;
  transition: all 300ms ease-in-out;
}

.ReactModal__Overlay--after-open {
  opacity: 1;
}

.ReactModal__Overlay--before-close {
  opacity: 0;
}


@keyframes modal-bottom-animate-enter {
  from {
    bottom: -100%;
  }
  to {
    bottom: 0%;
  }
}

@keyframes modal-overlay-animate {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}